* {
  margin: 0;
  padding: 0;
}
body {
  background: #f2f5f7;
}
a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 823px;
  background-image: url("../image/background-image.jpg");
  background-size: cover;
}
.name {
  width: 65% !important;
}
.name2 {
  /* width: 40% !important; */
}

.body-white {
  position: relative;
  bottom: 300px;
  margin: 0 50px;
  padding: 50px 10%;
}


@media (max-width: 1024px)  {


  h2 {
    font-size: 22px !important;
  }

  p {

  }

  span {

  }


  .name {
    width: 40% !important;
    background: blue;
    border: 3px solid white;
  }

  .body-white {

    margin: 0 20px;
    padding: 50px 3%;
  }



}
